* {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}

body {
    background-color: #EFF6FF;
    margin: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aside-image {
    grid-column: 1 / 2;
    width: 100%;
    min-height: 553px;
}

.aside-logo {
    width: 10%;
    position: absolute;
    left: 2%;
    margin: 2% 5%;
}

main {
    grid-column: 2 / 3;
    background-color: white;
}

.title-1 {;
    margin: 15% 0% 0% 10%;
    color: #7B8A92;
}

.subtitle-1 {
    margin: 2% 0% 0% 10%;
    font-size: 14px;
    color: #96A5B1;
}

.social-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5% 0% 0% 10%;
}

.facebook-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    background-color: #255A9B;
    font-size: 10px;
    width: 40%;
    height: 1.8rem;
    border: none;
    margin-right: 3%;
}

#facebook-logo {
    width: 13px;
}

.linkedin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    background-color: #0076B6;
    font-size: 10px;
    width: 40%;
    height: 1.8rem;
    border: none;
    margin-left: 3%;
}

#linkedin-logo {
    width: 13px;
}

.or-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  2rem 20%;
    gap: 1rem;
}

.line {
    flex: 1;
    width: 50px;
    height: 1px;
    background-color: gray;
}

.on-hr {
    font-size: 8px;
}

.personal-info-input {
    margin-left: 10%;
}

.email-phone-input {
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
}

.email-input-border {
    display: flex-wrap;
    margin-right: 3%;
    border: 1.3px solid #EEEEEE;
    width: 40%;
    height: 2.3rem;
}
.email-text {
    font-size: 12px;
    margin: 4px 0 0 4px;
    color: #AFAFAF;
}
.email-input-zone {
    width: 95%;
    margin-left: 4px;
    color: #2A4A5C;
    border: none;
    outline: none;
}
.email-input-border:focus-within {
    border-left-color: #3698FB;
}

.phone-input-border {
    display: flex-wrap;
    margin-left: 3%;
    border: 1.3px solid #EEEEEE;
    width: 40%;
    height: 2.3rem;
}
.phone-input-border:focus-within {
    border-left-color: #3698FB;
}
.phone-text {
    font-size: 12px;
    margin: 4px 0 0 4px;
    color: #AFAFAF;
}
.phone-input-zone {
    width: 95%;
    margin-left: 4px;
    color: #2A4A5C;
    border: none;
    outline: none;
}
.phone-input-border:focus-within {
    border-left-color: #3698FB;
}

.title-2 {
    margin: 10% 0 0 10%;
    color: #7B8A92;
    font-size: 19px;
}

.subtitle-2 {
    margin: 1% 0% 0% 10%;
    font-size: 13px;
    color: #96A5B1;
}

.investor-type-select-text {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 5% 0% 10% 10%;
    color: #2A4A5C;
    font-size: 10px;
    font-weight: 550;
    width: 80%;
    gap: 5px;
}

.investor-type-select-radio {
    margin-right: 1%;
}

.individual-info-icon,
.business-info-icon,
.ira-info-icon,
.trust-info-icon {
    position: relative;
    display: inline-block;
    margin: 0 5% 0 0;
    color: grey;
}

.individual-info-icon:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: -700%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    width: 180px;
    font-size: 9px;
}
.business-info-icon:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: -850%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    width: 180px;
    font-size: 9px;
}
.ira-info-icon:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: -1000%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    width: 180px;
    font-size: 9px;
}
.trust-info-icon:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: -1800%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    width: 180px;
    font-size: 9px;
}

.agree-to-the-terms {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.7rem;
    margin: 0% 0% 0% 10%;
}

.agree-to-the-terms-text {
    color: #afafaf;
    font-size: 12px;
}

.view-full-terms {
    color: #36c3fb;
    text-decoration: underline;
}

.submit {
    margin: 4% 0% 0% 10%;
}

.create-account-button {
    color: white;
    border: none;
    background-color: #3698FB;
    width: 10rem;
    height: 1.7rem;
}